*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}
img{
    width: 100%;
    height: 100%;
    object-fit: contain;

}
body{
    width: 100%;
    height: 100vh;
    background-color: #1A1D2C;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content:space-evenly ;
}

/*Titulo*/
.containerTitle{
    position: relative;
    color: hsl(166, 76%, 45%);
    text-align: center;
    padding: 20px;
    display:inline-block;
    justify-content: center;
    width: 100%;
}
.containerTitle h1 span{
    color: #fff;
}
.bo1{
    position: absolute;
    width: 300px;
    height: 300px;
    top: 10%;
    left: 17%;
    border-radius: 100%;
    background-image: linear-gradient(45deg, hsl(157, 34%, 48%), transparent 50%), linear-gradient(to right, hsl(166, 76%, 45%), transparent);
    background-size: 100% 100%, 100% 100%;
    background-repeat: no-repeat, no-repeat;
    background-position: 0 0, 0 0;
    transform: rotate(-85deg);
}
.bo2{
    position: absolute;
    width: 350px;
    height: 350px;
    top: 40%;
    right: 13%;
    border-radius: 100%;
    background-image: linear-gradient(45deg, hsl(157, 34%, 48%), transparent 50%), linear-gradient(to right, hsl(166, 76%, 45%), transparent);
    background-size: 100% 100%, 100% 100%;
    background-repeat: no-repeat, no-repeat;
    background-position: 0 0, 0 0;
    transform: rotate(-85deg) ;
}
/*pie de pagina*/
.pageFooter {
    width: 100%;
    color: #fff;
    font-size: 15px;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}

/*tarjeta recuadro*/
.contentBox{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*formulario*/
.cuadrodeTarjeta{
    position: relative;
    border-radius: 30px;
    width: 37%;
    height: 55%;
    background-color: rgba(255, 255, 255, 0.145); /* Color del vidrio con opacidad */
    backdrop-filter: blur(8px); /* Aplicar el desenfoque para el efecto vidrio */
    border-radius: 10px;
    box-shadow: 1 1 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #fff;
    
  }
  .cajasdechi{
    position: absolute;
    top: 20px;
    right: 30px;
  }

.cuadrodeTarjeta div img{
    width:40px;
}
.caja {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    background-color: none;
    align-items: center;
    font-family: 'Varela Round', sans-serif;
  }


  .form{
    margin-top: 30px;
    width: 60%;
    height: 70px;
    max-width: 400px;
    position: relative;
    overflow: hidden;
}
.form input{
    width: 100%;
    height: 100%;
    background: none;
    color: #fff;
    padding-top: 10px;
    border: none;
    outline: 0px;
}
.form .lbl-nombre{
    font-weight: bolder;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 3px solid #1bc89f;
}
.form .lbl-nombre:after{
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid #1bc89f;
    transform: translateX(-100%);
    transition: all 0.3s ease;
}
.text-nomb{
    position: absolute;
    bottom: 5px;
    left: 0;
    transition: all 0.3s ease;
    color: #fff;
}
.form input:focus + .lbl-nombre .text-nomb,.form input:valid + .lbl-nombre .text-nomb{
    transform: translateY(-200%);
    font-size: 16px;
    color: #1bc89f;
}
.form input:focus + .lbl-nombre:after, .form input:valid + .lbl-nombre:after{
    transform: translateX(0%);
}
@media only screen and (min-width:320px) and (max-width:768px){
 .form{
    width:85%;
}
}
/*botom*/
.bo-resultado{
    padding-top: 10px;
    padding-bottom: 20px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.botonform:active {
    background-color: #1A1D2C;
    color: #1bc89f;
}
button{
    font-family: Arial, sans-serif;
    background-color: #1bc89f;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    width: 40%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.resultadofalsos {
    color: #ff0000;
    padding: 4px;
    font-weight: bold;
} 









.colores{
    color: hsl(157, 34%, 48%);
    color: #d0d8e0;
    color: #1bc89f;
    color: #202f40;
    font-family: 'Varela Round', sans-serif;
}